.gradient-background {
  background: linear-gradient(300deg, #cd7f36, #f6871f, rgb(254, 192, 135));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

svg,
svg image {
  fill: #a32110 !important;
}

#restaurant main {
  margin: 3rem !important;
}

.resturant-logo {
  margin-left: 25rem !important;
}

#add-item {
  margin-top: 12rem;
}

#add-item form textarea {
  margin-bottom: 3rem;
}

#add-item form label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
